# //version no. 1.0

# Dependencies
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Environment / Secrets
.env
.env.local

# CNC / Hardware specific 
# Ignore large G-code test files if you don't want them in the repo
*.gcode
*.nc